
table 
{
    border-collapse: collapse;
    width: 95%;
    color:black;
    font-size: 15px;
    text-align: left;
    border: 1px solid black;
    margin: auto;
}

th {
    background-color: rgb(255, 159, 159);
    text-align : center;
    padding: 3px;
    border: 1.5px solid black;
}

tr:nth-child(even)
{
    background-color: white;
}

tr:nth-child(odd)
{
    background-color: bisque;
}


td
{
    padding: 3px;
    text-align : center;
    border: 1.5px solid black;
}